@import url(http://fonts.googleapis.com/css?family=Playball);

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline; 

    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

body
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after
{
    content: '';
    content: none;
}

q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0; 
    border-collapse: collapse;
}

meta.foundation-version
{
    font-family: '/{{VERSION}}/';
}

meta.foundation-mq-small
{
    font-family: '/only screen/';

    width: 0;
}

meta.foundation-mq-small-only
{
    font-family: '/only screen and (max-width: 40em)/';

    width: 0;
}

meta.foundation-mq-medium
{
    font-family: '/only screen and (min-width:40.0625em)/';

    width: 40.0625em;
}

meta.foundation-mq-medium-only
{
    font-family: '/only screen and (min-width:40.0625em) and (max-width:64em)/';

    width: 40.0625em;
}

meta.foundation-mq-large
{
    font-family: '/only screen and (min-width:64.0625em)/';

    width: 64.0625em;
}

meta.foundation-mq-large-only
{
    font-family: '/only screen and (min-width:64.0625em) and (max-width:90em)/';

    width: 64.0625em;
}

meta.foundation-mq-xlarge
{
    font-family: '/only screen and (min-width:90.0625em)/';

    width: 90.0625em;
}

meta.foundation-mq-xlarge-only
{
    font-family: '/only screen and (min-width:90.0625em) and (max-width:120em)/';

    width: 90.0625em;
}

meta.foundation-mq-xxlarge
{
    font-family: '/only screen and (min-width:120.0625em)/';

    width: 120.0625em;
}

meta.foundation-data-attribute-namespace
{
    font-family: false;
}

html,
body
{
    height: 100%;
}

html
{
    box-sizing: border-box;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

html,
body
{
    font-size: 100%;
}

body
{
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;

    position: relative;

    margin: 0;
    padding: 0;

    cursor: auto; 

    color: #222;
    background: #fff;
}

a:hover
{
    cursor: pointer;
}

img
{
    max-width: 100%;
    height: auto;
}

img
{
    -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object
{
    max-width: none !important;
}

.left
{
    float: left !important;
}

.right
{
    float: right !important;
}

.clearfix:before,
.clearfix:after
{
    display: table; 

    content: ' ';
}
.clearfix:after
{
    clear: both;
}

.hide
{
    display: none;
}

.invisible
{
    visibility: hidden;
}

.antialiased
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img
{
    display: inline-block;

    vertical-align: middle;
}

textarea
{
    height: auto;
    min-height: 50px;
}

select
{
    width: 100%;
}

button,
.button
{
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;

    position: relative;

    display: inline-block;

    margin: 0 0 20px;
    margin: 0 0 1.25rem;
    padding: 16px 32px 17px 32px;
    padding: 1rem 2rem 1.0625rem 2rem;

    cursor: pointer;
    transition: background-color 300ms ease-out; 
    text-align: center;
    text-decoration: none;

    color: #fff;
    border-width: 0;
    border-style: solid;
    border-color: #007095;
    border-radius: 0;
    background-color: #008cba;

    -webkit-appearance: none;
       -moz-appearance: none;
}
button:hover,
button:focus,
.button:hover,
.button:focus
{
    background-color: #007095;
}
button:hover,
button:focus,
.button:hover,
.button:focus
{
    color: #fff;
}
button.secondary,
.button.secondary
{
    color: #333; 
    border-color: #b9b9b9;
    background-color: #e7e7e7;
}
button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus
{
    background-color: #b9b9b9;
}
button.secondary:hover,
button.secondary:focus,
.button.secondary:hover,
.button.secondary:focus
{
    color: #333;
}
button.success,
.button.success
{
    color: #fff; 
    border-color: #368a55;
    background-color: #43ac6a;
}
button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus
{
    background-color: #368a55;
}
button.success:hover,
button.success:focus,
.button.success:hover,
.button.success:focus
{
    color: #fff;
}
button.alert,
.button.alert
{
    color: #fff; 
    border-color: #cf2a0e;
    background-color: #f04124;
}
button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus
{
    background-color: #cf2a0e;
}
button.alert:hover,
button.alert:focus,
.button.alert:hover,
.button.alert:focus
{
    color: #fff;
}
button.warning,
.button.warning
{
    color: #fff; 
    border-color: #cf6e0e;
    background-color: #f08a24;
}
button.warning:hover,
button.warning:focus,
.button.warning:hover,
.button.warning:focus
{
    background-color: #cf6e0e;
}
button.warning:hover,
button.warning:focus,
.button.warning:hover,
.button.warning:focus
{
    color: #fff;
}
button.info,
.button.info
{
    color: #333; 
    border-color: #61b6d9;
    background-color: #a0d3e8;
}
button.info:hover,
button.info:focus,
.button.info:hover,
.button.info:focus
{
    background-color: #61b6d9;
}
button.info:hover,
button.info:focus,
.button.info:hover,
.button.info:focus
{
    color: #fff;
}
button.large,
.button.large
{
    font-size: 20px;
    font-size: 1.25rem; 

    padding: 18px 36px 19px 36px;
    padding: 1.125rem 2.25rem 1.1875rem 2.25rem;
}
button.small,
.button.small
{
    font-size: 13px;
    font-size: .8125rem; 

    padding: 14px 28px 15px 28px;
    padding: .875rem 1.75rem .9375rem 1.75rem;
}
button.tiny,
.button.tiny
{
    font-size: 11px;
    font-size: .6875rem; 

    padding: 10px 20px 11px 20px;
    padding: .625rem 1.25rem .6875rem 1.25rem;
}
button.expand,
.button.expand
{
    width: 100%; 
    padding-right: 0;
    padding-left: 0;
}
button.left-align,
.button.left-align
{
    text-align: left;
    text-indent: 12px;
    text-indent: .75rem;
}
button.right-align,
.button.right-align
{
    padding-right: 12px;
    padding-right: .75rem; 

    text-align: right;
}
button.radius,
.button.radius
{
    border-radius: 3px;
}
button.round,
.button.round
{
    border-radius: 1000px;
}
button.disabled,
button[disabled],
.button.disabled,
.button[disabled]
{
    cursor: default;

    opacity: .7;
    color: #fff;
    border-color: #007095;
    background-color: #008cba;
    box-shadow: none; 

    filter: alpha(opacity=70);
}
button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus
{
    background-color: #007095;
}
button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus
{
    color: #fff;
}
button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus
{
    background-color: #008cba;
}
button.disabled.secondary,
button[disabled].secondary,
.button.disabled.secondary,
.button[disabled].secondary
{
    cursor: default;

    opacity: .7;
    color: #333;
    border-color: #b9b9b9;
    background-color: #e7e7e7;
    box-shadow: none; 

    filter: alpha(opacity=70);
}
button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus
{
    background-color: #b9b9b9;
}
button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus
{
    color: #333;
}
button.disabled.secondary:hover,
button.disabled.secondary:focus,
button[disabled].secondary:hover,
button[disabled].secondary:focus,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus
{
    background-color: #e7e7e7;
}
button.disabled.success,
button[disabled].success,
.button.disabled.success,
.button[disabled].success
{
    cursor: default;

    opacity: .7;
    color: #fff;
    border-color: #368a55;
    background-color: #43ac6a;
    box-shadow: none; 

    filter: alpha(opacity=70);
}
button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus
{
    background-color: #368a55;
}
button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus
{
    color: #fff;
}
button.disabled.success:hover,
button.disabled.success:focus,
button[disabled].success:hover,
button[disabled].success:focus,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success:hover,
.button[disabled].success:focus
{
    background-color: #43ac6a;
}
button.disabled.alert,
button[disabled].alert,
.button.disabled.alert,
.button[disabled].alert
{
    cursor: default;

    opacity: .7;
    color: #fff;
    border-color: #cf2a0e;
    background-color: #f04124;
    box-shadow: none; 

    filter: alpha(opacity=70);
}
button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus
{
    background-color: #cf2a0e;
}
button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus
{
    color: #fff;
}
button.disabled.alert:hover,
button.disabled.alert:focus,
button[disabled].alert:hover,
button[disabled].alert:focus,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert:hover,
.button[disabled].alert:focus
{
    background-color: #f04124;
}
button.disabled.warning,
button[disabled].warning,
.button.disabled.warning,
.button[disabled].warning
{
    cursor: default;

    opacity: .7;
    color: #fff;
    border-color: #cf6e0e;
    background-color: #f08a24;
    box-shadow: none; 

    filter: alpha(opacity=70);
}
button.disabled.warning:hover,
button.disabled.warning:focus,
button[disabled].warning:hover,
button[disabled].warning:focus,
.button.disabled.warning:hover,
.button.disabled.warning:focus,
.button[disabled].warning:hover,
.button[disabled].warning:focus
{
    background-color: #cf6e0e;
}
button.disabled.warning:hover,
button.disabled.warning:focus,
button[disabled].warning:hover,
button[disabled].warning:focus,
.button.disabled.warning:hover,
.button.disabled.warning:focus,
.button[disabled].warning:hover,
.button[disabled].warning:focus
{
    color: #fff;
}
button.disabled.warning:hover,
button.disabled.warning:focus,
button[disabled].warning:hover,
button[disabled].warning:focus,
.button.disabled.warning:hover,
.button.disabled.warning:focus,
.button[disabled].warning:hover,
.button[disabled].warning:focus
{
    background-color: #f08a24;
}
button.disabled.info,
button[disabled].info,
.button.disabled.info,
.button[disabled].info
{
    cursor: default;

    opacity: .7;
    color: #333;
    border-color: #61b6d9;
    background-color: #a0d3e8;
    box-shadow: none; 

    filter: alpha(opacity=70);
}
button.disabled.info:hover,
button.disabled.info:focus,
button[disabled].info:hover,
button[disabled].info:focus,
.button.disabled.info:hover,
.button.disabled.info:focus,
.button[disabled].info:hover,
.button[disabled].info:focus
{
    background-color: #61b6d9;
}
button.disabled.info:hover,
button.disabled.info:focus,
button[disabled].info:hover,
button[disabled].info:focus,
.button.disabled.info:hover,
.button.disabled.info:focus,
.button[disabled].info:hover,
.button[disabled].info:focus
{
    color: #fff;
}
button.disabled.info:hover,
button.disabled.info:focus,
button[disabled].info:hover,
button[disabled].info:focus,
.button.disabled.info:hover,
.button.disabled.info:focus,
.button[disabled].info:hover,
.button[disabled].info:focus
{
    background-color: #a0d3e8;
}

button::-moz-focus-inner
{
    padding: 0; 

    border: 0;
}

@media only screen and (min-width:40.0625em)
{
    button,
    .button
    {
        display: inline-block;
    }
}

/* Standard Forms */
form
{
    margin: 0 0 16px;
    margin: 0 0 1rem;
}

/* Using forms within rows, we need to set some defaults */
form .row .row
{
    margin: 0 -8px;
    margin: 0 -.5rem;
}
form .row .row .column,
form .row .row .columns
{
    padding: 0 8px;
    padding: 0 .5rem;
}
form .row .row.collapse
{
    margin: 0;
}
form .row .row.collapse .column,
form .row .row.collapse .columns
{
    padding: 0;
}
form .row .row.collapse input
{
    -webkit-border-top-right-radius: 0;
            border-top-right-radius: 0; 
    -webkit-border-bottom-right-radius: 0;
            border-bottom-right-radius: 0;
}
form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns
{
    padding-left: 8px;
    padding-left: .5rem;
}

/* Label Styles */
label
{
    font-size: 14px;
    font-size: .875rem;
    font-weight: normal;
    line-height: 1.5;

    display: block;

    margin-bottom: 0;

    cursor: pointer;

    color: #4d4d4d;
    /* Styles for required inputs */
}
label.right
{
    float: none !important;

    text-align: right;
}
label.inline
{
    margin: 0 0 16px 0;
    margin: 0 0 1rem 0;
    padding: 9px 0;
    padding: .5625rem 0;
}
label small
{
    text-transform: capitalize;

    color: #676767;
}

/* Attach elements to the beginning or end of an input */
.prefix,
.postfix
{
    font-size: 14px;
    font-size: .875rem;
    line-height: 37px;
    line-height: 2.3125rem; 

    position: relative;
    z-index: 2;

    display: block;
    overflow: visible;

    width: 100%;
    height: 37px;
    height: 2.3125rem;
    padding-top: 0;
    padding-bottom: 0;

    text-align: center;

    border-width: 1px;
    border-style: solid;
}

/* Adjust padding, alignment and radius if pre/post element is a button */
.postfix.button
{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    text-align: center;

    border: none;
}

.prefix.button
{
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    text-align: center;

    border: none;
}

.prefix.button.radius
{
    border-radius: 0;
    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px; 
    -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
}

.postfix.button.radius
{
    border-radius: 0;
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px; 
    -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
}

.prefix.button.round
{
    border-radius: 0;
    -webkit-border-top-left-radius: 1000px;
            border-top-left-radius: 1000px; 
    -webkit-border-bottom-left-radius: 1000px;
            border-bottom-left-radius: 1000px;
}

.postfix.button.round
{
    border-radius: 0;
    -webkit-border-top-right-radius: 1000px;
            border-top-right-radius: 1000px; 
    -webkit-border-bottom-right-radius: 1000px;
            border-bottom-right-radius: 1000px;
}

/* Separate prefix and postfix styles when on span or label so buttons keep their own */
span.prefix,
label.prefix
{
    color: #333;
    border-color: #ccc; 
    border-right: none;
    background: #f2f2f2;
}

span.postfix,
label.postfix
{
    color: #333;
    border-color: #ccc; 
    border-left: none;
    background: #f2f2f2;
}

/* We use this to get basic styling on all basic form elements */
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea
{
    font-family: inherit;
    font-size: 14px;
    font-size: .875rem;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 37px;
    height: 2.3125rem;
    margin: 0 0 16px 0;
    margin: 0 0 1rem 0;
    padding: 8px;
    padding: .5rem;

    transition: border-color .15s linear, background .15s linear; 

    color: rgba(0, 0, 0, .75);
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 0;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);

    -webkit-appearance: none;
       -moz-appearance: none;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='color']:focus,
textarea:focus
{
    border-color: #999;
    outline: none; 
    background: #fafafa;
}
input[type='text']:disabled,
input[type='password']:disabled,
input[type='date']:disabled,
input[type='datetime']:disabled,
input[type='datetime-local']:disabled,
input[type='month']:disabled,
input[type='week']:disabled,
input[type='email']:disabled,
input[type='number']:disabled,
input[type='search']:disabled,
input[type='tel']:disabled,
input[type='time']:disabled,
input[type='url']:disabled,
input[type='color']:disabled,
textarea:disabled
{
    cursor: default; 

    background-color: #ddd;
}
input[type='text'][disabled],
input[type='text'][readonly],
fieldset[disabled] input[type='text'],
input[type='password'][disabled],
input[type='password'][readonly],
fieldset[disabled] input[type='password'],
input[type='date'][disabled],
input[type='date'][readonly],
fieldset[disabled] input[type='date'],
input[type='datetime'][disabled],
input[type='datetime'][readonly],
fieldset[disabled] input[type='datetime'],
input[type='datetime-local'][disabled],
input[type='datetime-local'][readonly],
fieldset[disabled] input[type='datetime-local'],
input[type='month'][disabled],
input[type='month'][readonly],
fieldset[disabled] input[type='month'],
input[type='week'][disabled],
input[type='week'][readonly],
fieldset[disabled] input[type='week'],
input[type='email'][disabled],
input[type='email'][readonly],
fieldset[disabled] input[type='email'],
input[type='number'][disabled],
input[type='number'][readonly],
fieldset[disabled] input[type='number'],
input[type='search'][disabled],
input[type='search'][readonly],
fieldset[disabled] input[type='search'],
input[type='tel'][disabled],
input[type='tel'][readonly],
fieldset[disabled] input[type='tel'],
input[type='time'][disabled],
input[type='time'][readonly],
fieldset[disabled] input[type='time'],
input[type='url'][disabled],
input[type='url'][readonly],
fieldset[disabled] input[type='url'],
input[type='color'][disabled],
input[type='color'][readonly],
fieldset[disabled] input[type='color'],
textarea[disabled],
textarea[readonly],
fieldset[disabled] textarea
{
    cursor: default; 

    background-color: #ddd;
}
input[type='text'].radius,
input[type='password'].radius,
input[type='date'].radius,
input[type='datetime'].radius,
input[type='datetime-local'].radius,
input[type='month'].radius,
input[type='week'].radius,
input[type='email'].radius,
input[type='number'].radius,
input[type='search'].radius,
input[type='tel'].radius,
input[type='time'].radius,
input[type='url'].radius,
input[type='color'].radius,
textarea.radius
{
    border-radius: 3px;
}

form .row .prefix-radius.row.collapse input,
form .row .prefix-radius.row.collapse textarea,
form .row .prefix-radius.row.collapse select,
form .row .prefix-radius.row.collapse button
{
    border-radius: 0;
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px; 
    -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
}
form .row .prefix-radius.row.collapse .prefix
{
    border-radius: 0;
    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px; 
    -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
}
form .row .postfix-radius.row.collapse input,
form .row .postfix-radius.row.collapse textarea,
form .row .postfix-radius.row.collapse select,
form .row .postfix-radius.row.collapse button
{
    border-radius: 0;
    -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px; 
    -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
}
form .row .postfix-radius.row.collapse .postfix
{
    border-radius: 0;
    -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px; 
    -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
}
form .row .prefix-round.row.collapse input,
form .row .prefix-round.row.collapse textarea,
form .row .prefix-round.row.collapse select,
form .row .prefix-round.row.collapse button
{
    border-radius: 0;
    -webkit-border-top-right-radius: 1000px;
            border-top-right-radius: 1000px; 
    -webkit-border-bottom-right-radius: 1000px;
            border-bottom-right-radius: 1000px;
}
form .row .prefix-round.row.collapse .prefix
{
    border-radius: 0;
    -webkit-border-top-left-radius: 1000px;
            border-top-left-radius: 1000px; 
    -webkit-border-bottom-left-radius: 1000px;
            border-bottom-left-radius: 1000px;
}
form .row .postfix-round.row.collapse input,
form .row .postfix-round.row.collapse textarea,
form .row .postfix-round.row.collapse select,
form .row .postfix-round.row.collapse button
{
    border-radius: 0;
    -webkit-border-top-left-radius: 1000px;
            border-top-left-radius: 1000px; 
    -webkit-border-bottom-left-radius: 1000px;
            border-bottom-left-radius: 1000px;
}
form .row .postfix-round.row.collapse .postfix
{
    border-radius: 0;
    -webkit-border-top-right-radius: 1000px;
            border-top-right-radius: 1000px; 
    -webkit-border-bottom-right-radius: 1000px;
            border-bottom-right-radius: 1000px;
}

input[type='submit']
{
    border-radius: 0; 

    -webkit-appearance: none;
       -moz-appearance: none;
}

/* Respect enforced amount of rows for textarea */
textarea[rows]
{
    height: auto;
}

/* Not allow resize out of parent */
textarea
{
    max-width: 100%;
}

/* Add height value for select elements to match text input height */
select
{
    font-family: inherit;
    font-size: 14px;
    font-size: .875rem;
    line-height: normal;

    height: 37px;
    height: 2.3125rem; 
    padding: 8px;
    padding: .5rem;

    color: rgba(0, 0, 0, .75);
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 0;
    border-radius: 0;
    background-color: #fafafa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 100% center;

    -webkit-appearance: none !important;
       -moz-appearance: none !important;
}
select::-ms-expand
{
    display: none;
}
select.radius
{
    border-radius: 3px;
}
select:hover
{
    border-color: #999; 
    background-color: #f3f3f3;
}
select:disabled
{
    cursor: default; 

    background-color: #ddd;
}
select[multiple]
{
    height: auto;
}

/* Adjust margin for form elements below */
input[type='file'],
input[type='checkbox'],
input[type='radio'],
select
{
    margin: 0 0 16px 0;
    margin: 0 0 1rem 0;
}

input[type='checkbox'] + label,
input[type='radio'] + label
{
    display: inline-block;

    margin-right: 16px;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 8px;
    margin-left: .5rem;

    vertical-align: baseline;
}

/* Normalize file input width */
input[type='file']
{
    width: 100%;
}

/* HTML5 Number spinners settings */
/* We add basic fieldset styling */
fieldset
{
    margin: 18px 0;
    margin: 1.125rem 0; 
    padding: 20px;
    padding: 1.25rem;

    border: 1px solid #ddd;
}
fieldset legend
{
    font-weight: bold;

    margin: 0;
    margin-left: -3px;
    margin-left: -.1875rem; 
    padding: 0 3px;
    padding: 0 .1875rem;

    background: #fff;
}

/* Error Handling */
[data-abide] .error small.error,
[data-abide] .error span.error,
[data-abide] span.error,
[data-abide] small.error
{
    font-size: 12px;
    font-size: .75rem;
    font-weight: normal;
    font-style: italic;

    display: block;

    margin-top: -1px;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    padding: 6px 9px 9px;
    padding: .375rem .5625rem .5625rem;

    color: #fff; 
    background: #f04124;
}
[data-abide] span.error,
[data-abide] small.error
{
    display: none;
}

span.error,
small.error
{
    font-size: 12px;
    font-size: .75rem;
    font-weight: normal;
    font-style: italic;

    display: block;

    margin-top: -1px;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    padding: 6px 9px 9px;
    padding: .375rem .5625rem .5625rem;

    color: #fff; 
    background: #f04124;
}

.error input,
.error textarea,
.error select
{
    margin-bottom: 0;
}
.error input[type='checkbox'],
.error input[type='radio']
{
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
.error label,
.error label.error
{
    color: #f04124;
}
.error small.error
{
    font-size: 12px;
    font-size: .75rem;
    font-weight: normal;
    font-style: italic;

    display: block;

    margin-top: -1px;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    padding: 6px 9px 9px;
    padding: .375rem .5625rem .5625rem;

    color: #fff; 
    background: #f04124;
}
.error > label > small
{
    font-size: 60%;
    font-style: normal;

    display: inline; 

    margin: 0;
    padding: 0;

    text-transform: capitalize;

    color: #676767;
    background: transparent;
}
.error span.error-message
{
    display: block;
}

input.error,
textarea.error,
select.error
{
    margin-bottom: 0;
}

label.error
{
    color: #f04124;
}

table
{
    margin-bottom: 20px;
    margin-bottom: 1.25rem;

    table-layout: auto; 

    border: solid 1px #ddd;
    background: #fff;
}
table caption
{
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold; 

    color: #222;
    background: transparent;
}
table thead
{
    background: #f5f5f5;
}
table thead tr th,
table thead tr td
{
    font-size: 14px;
    font-size: .875rem;
    font-weight: bold;

    padding: 8px 10px 10px;
    padding: .5rem .625rem .625rem;

    color: #222;
}
table tfoot
{
    background: #f5f5f5;
}
table tfoot tr th,
table tfoot tr td
{
    font-size: 14px;
    font-size: .875rem;
    font-weight: bold;

    padding: 8px 10px 10px;
    padding: .5rem .625rem .625rem;

    color: #222;
}
table tr th,
table tr td
{
    font-size: 14px;
    font-size: .875rem;

    padding: 9px 10px;
    padding: .5625rem .625rem;

    text-align: left; 

    color: #222;
}
table tr.even,
table tr.alt,
table tr:nth-of-type(even)
{
    background: #f9f9f9;
}
table thead tr th,
table tfoot tr th,
table tfoot tr td,
table tbody tr th,
table tbody tr td,
table tr td
{
    line-height: 18px;
    line-height: 1.125rem; 

    display: table-cell;
}

/**
 * Basic styling
 */
*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Droid Serif', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;

    color: #444;
    background-color: #fdfdfd;

    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure
{
    font-family: 'Droid Serif', serif;

    margin-bottom: 15px;
}

/**
 * Images
 */
img
{
    max-width: 100%;

    vertical-align: middle;
}

/**
 * Figures
 */
figure > img
{
    display: block;
}

figcaption
{
    font-size: 14px;
}

/**
 * Lists
 */
ul,
ol
{
    margin-left: 30px;
}

li > ul,
li > ol
{
    margin-bottom: 0;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 300;
}

/**
 * Links
 */
a
{
    text-decoration: none; 

    color: #900000;
}
a:hover
{
    opacity: .7;

    filter: alpha(opacity=70);
}
a:link
{
    -webkit-tap-highlight-color: #26a69a;
}

::-moz-selection
{
    color: #444;
    background: #c1f1ec;
    text-shadow: none;
}

::selection
{
    color: #444;
    background: #c1f1ec;
    text-shadow: none;
}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder
{
    color: #a9a9a9;
}

textarea:-moz-placeholder
{
    color: #a9a9a9;
}

/**
 * Blockquotes
 */
blockquote
{
    font-size: 14px;
    font-size: .9rem;
    font-style: italic; 

    padding-left: 15px;

    letter-spacing: -0;
    letter-spacing: -.05rem;

    color: #444;
    border-left: 4px solid #828282;
}
blockquote a
{
    text-decoration: underline; 

    color: #828282;
}
blockquote > :last-child
{
    margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code
{
    font-size: 15px;

    overflow: auto; 

    border: 1px solid #828282;
    border-radius: 3px;
    background-color: #f6f7fa;
}

code
{
    padding: 1px 5px;
}

pre
{
    padding: 8px 12px;
}
pre > code
{
    padding-right: 0;
    padding-left: 0; 

    border: 0;
}

ins,
mark
{
    text-decoration: none; 

    color: #444;
    background-color: #f6f7fa;
}

mark
{
    font-weight: bold; 
    font-style: italic;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color']
{
    margin-bottom: 5px; 

    color: #26a69a;
    background: #fdfdfd;
    box-shadow: none;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='week']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='time']:focus,
input[type='url']:focus,
input[type='color']:focus
{
    border: 1px solid #26a69a;
}

input[type='submit']
{
    height: 27px;
    height: 1.7rem; 

    color: #fefefe;
    border: none;
    background: #219187;
}
input[type='submit']:hover
{
    opacity: .7;

    filter: alpha(opacity=70);
}

/**
 * Wrapper
 */
.wrapper
{
    overflow: hidden;

    max-width: calc(1024px - (30px * 2));
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 1024px)
{
    .wrapper
    {
        max-width: calc(1024px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}

/**
 * Clearfix
 */
.wrapper:after
{
    display: table;
    clear: both; 

    content: '';
}

/**
 * Head title
 */
header
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 10px;

    color: #828282; 

    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}
header h1
{
    font-family: 'Playball', cursive;
    font-size: 40px;
    font-size: 2.5rem;

    height: 50px; 
    margin-bottom: 0;
}
header a:hover
{
    opacity: 1;

    filter: alpha(opacity=100);
}

/**
 * Search form
 */
.form-wrapper
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex; 

    margin-top: 23px;
}
.form-wrapper .form-input
{
    width: 130px;
    height: 30px;
    margin-bottom: 0; 

    border-right: none;
}
.form-wrapper .form-input:focus
{
    border-right: none;
}
.form-wrapper .form-submit
{
    width: 35px;
    height: 30px;
}

/**
 * Navigation
 */
.menu-all-pages-container
{
    width: auto;
    padding: 2px 0;

    border-top: 2px solid #f6f7fa;
    border-bottom: 2px solid #f6f7fa;
}

.menu-all-pages-container > *
{
    font-size: 10px;
    font-size: .65rem;
}

.menu-all-pages-container ul
{
    margin: 0; 
    padding-left: 0;
}

.menu-all-pages-container > ul li
{
    position: relative;
    position: relative; 

    margin: 3px 2px;

    text-transform: uppercase;
}

.menu-all-pages-container > ul > li > a
{
    display: inline-block;

    padding: 8px 20px; 

    color: #444;
}

.menu-all-pages-container > ul > li > a:hover,
.menu-all-pages-container > ul > li > a:focus,
.menu-all-pages-container > ul > li.current-menu-item > a
{
    color: #900000;
}

.menu-all-pages-container ul ul
{
    position: absolute;
    z-index: 1;
    top: 30px;

    visibility: hidden;

    width: 100%;
    min-width: 170px;

    transition: all .5s ease-in-out; 

    opacity: 0;
    background-color: #f6f7fa;

    filter: alpha(opacity=0);
}

.menu-all-pages-container ul li:hover > ul
{
    visibility: visible; 

    opacity: 1;

    filter: alpha(opacity=100);
}

.menu-all-pages-container ul ul li
{
    width: 100%;
}

.menu-all-pages-container ul ul li a
{
    line-height: 1.5;

    display: inline-block;

    width: 100%; 
    padding: 5px;

    color: #900000;
}

.menu-all-pages-container ul ul li a:hover,
.menu-all-pages-container ul ul li a:focus
{
    color: #900000;
}

.menu-all-pages-container ul ul ul
{
    top: -3px; 
    left: 98%;
}

.menu
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;

    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.menu-item
{
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
            flex-grow: 1;
}

/**
 * Content layout
 */
.content-wrapper
{
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
}

main,
.side
{
    padding: 15px;
}

.side
{
    width: 25%;
}

/**
 * Main
 */
main
{
    width: 75%;
}
main article
{
    line-height: 1.7; 

    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: 1px dashed #828282;
}
main article:first-child
{
    padding-top: 0;
}
main h1
{
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 600;
}
main h2
{
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 600;
}
main h3
{
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
}
main h4
{
    font-size: 20px;
    font-size: 1.25rem;
}
main h5,
main h6
{
    font-size: 16px;
    font-size: 1rem;
}
main ul,
main ol
{
    list-style: initial;
}
main ul p,
main ol p
{
    margin-bottom: 5px;
}
main ul li
{
    list-style-type: disc;
}
main ol li
{
    list-style-type: decimal;
}
main img
{
    display: block; 

    margin: 0 auto;
}

.entry
{
    font-size: 16px;
    font-size: 1rem;

    padding-top: 15px;
    padding-bottom: 15px;
}

.wp-caption-text
{
    font-size: 14px;
    font-style: italic;

    text-align: center; 

    color: #828282;
}
.wp-caption-text a
{
    color: #828282;
}

.post-info,
.postmetadata
{
    font-size: 14px;

    color: #828282;
}

.navigation
{
    font-size: 14px;

    display: block;

    margin-top: 15px; 

    text-align: center;
}

.next-posts,
.prev-posts
{
    display: inline-block;

    padding: 0 30px;
}

/**
 * Sidebar
 */
.side
{
    font-size: 14px;
    font-size: .9rem;
}
.side .widget-title
{
    color: #575e5e;
}
.side ul
{
    opacity: .85;

    filter: alpha(opacity=85);
}

/**
 * Comments
 */
.comment-head
{
    font-size: 20px;
    font-size: 1.25rem; 
    font-weight: normal;

    padding-top: 15px;
}

.commentlist
{
    font-size: 14px;
}
.commentlist p
{
    padding: 5px;
}

.respond-wrapper
{
    padding-top: 15px;
}
.respond-wrapper h2
{
    font-size: 20px;
    font-size: 1.25rem; 
    font-weight: normal;
}
.respond-wrapper p
{
    font-size: 14px;
}

/**
 * Footer
 */
#footer
{
    display: block;

    width: 100%;
    padding: 15px 0 30px 0; 

    text-align: center;

    color: #828282;
}

/**
 * 404
 */
.notfound .form-input
{
    width: 200px;
    height: 40px;
}
.notfound .form-submit
{
    width: 40px;
    height: 40px;
}

/**
 * Post
 */
.post-comment p
{
    padding-top: 15px;
}

ul.post-info
{
    margin-left: 0; 
    padding-top: 15px;
}
ul.post-info li
{
    list-style-type: none;
}

/**
 * Media query
 */
@media screen and (max-width: 800px)
{
    .content-wrapper
    {
        -webkit-flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
    main,
    .side
    {
        width: 100%;
    }
    .side ul,
    .side ol
    {
        margin-left: 0;
    }
}
