@charset "utf-8";
// Variables
$base-font-family: 'Droid Serif',serif;
$header-font-family: 'Playball',cursive;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$article-line-height: 1.7;

$spacing-unit:     30px;

$black-color-text:       #212121; // or 444?
$white-color-text:       #fefefe;
$grey-color-text:       #f3f4f4;

$background-color: #fdfdfd; //white
$background-color2: #f9f9f9; //white / grey

$brown-color:      #900000;
$green-color:      #26A69A;
$grey-color:       #828282;
$grey-color-light: #f6f7fa;

// Width of the content area
$content-width:    1024px;
$content-mini-width:    480px;

$on-tablet:          800px;
$on-mobile:          480px;
$on-laptop:        1024px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}





/**
 * Basic styling
 */

* {
  box-sizing: border-box;
}

html {
    margin-top: 0 !important;
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $black-color-text;
    background-color: $background-color;
    text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    font-family: $base-font-family;
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brown-color;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
    // j.mp/webkit-tap-highlight-color
    &:link {
        -webkit-tap-highlight-color: $green-color;
    }
}

::selection {
    background: lighten($green-color, 45%);
    color: $black-color-text;
    text-shadow: none;
}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

/**
 * Blockquotes
 */
blockquote {
    color: $black-color-text;
    border-left: 4px solid $grey-color;
    padding-left: $spacing-unit / 2;
    font-size: $small-font-size;
    letter-spacing: -0.01rem;
    font-style: italic;
    a {
        color: $grey-color;
        text-decoration: underline;
    }
    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color;
    border-radius: 3px;
    background-color: $grey-color-light;
    overflow: auto;
    white-space: pre-wrap;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    //overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

ins, mark {
    background-color: $grey-color-light;
    color: $black-color-text;
    text-decoration: none;}

mark {
    font-style: italic;
    font-weight: bold;
}

input[type='text'], input[type='password'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='email'], input[type='number'], input[type='search'], input[type='tel'], input[type='time'], input[type='url'], input[type='color'] {
    color: $grey-color;
    background: $background-color;
    box-shadow: none;
    margin-bottom: 5px;
    &:focus {
        border: 1px solid $green-color;
    }
}

input[type='submit'] {
    background: darken($green-color, 5%);
    border: none;
    color: $white-color-text;
    height: 1.7rem;
    &:hover {
        opacity: 0.7;
    }
}


/**
 * Wrapper
 */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    min-width: $content-mini-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
