/**
 * Content layout
 */

.content-wrapper {
	display: flex;
	flex-flow: row nowrap;
}

main, .side {
	padding: $spacing-unit/2 $spacing-unit-side/2;
}

.side {

	width: 25%;
}

/**
 * Main
 */

main {

	width: 75%;
	article {
		border-bottom: 1px dashed $grey-color;
		padding-top: $spacing-unit;
		padding-bottom: $spacing-unit/3;
		line-height: $article-line-height;
		&:first-child {
			padding-top: 0;
		}
	}

	h1, h2, h3 {
		font-weight: 700;
	}
	h4, h5, h6 {
		font-weight: 400;
	}

	h1 {
		font-size: 1.75rem;
	}

	h2 {
        font-size: 1.5rem;
        margin-top: $spacing-unit;
    }
    .entry-title-home {
    	font-size: 1.625rem;
    	margin-top: 0;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 1.5;
        margin-top: $spacing-unit;

    }

    h4 {
        font-size: 1.3rem;
    }

	h5, h6 {
		font-size: 1rem;
	}

    ul, ol {
        list-style: initial;
        font-size: $base-font-size;
        p {
            margin-bottom: $spacing-unit / 5;
        }
    }
    ul li {
        list-style-type: disc;
    }
    ol li {
        list-style-type: decimal;
    }
    li {
    	margin-top: 4px;
    	margin-bottom: 4px;
	}

    img {
        margin: 0;
        display: block;
        border-radius: 4px;
    }
}

.entry {
	font-size: 1rem;
	padding-top: $spacing-unit/2;
	padding-bottom: $spacing-unit/2;
	h2 {
		margin-top: $spacing-unit;
        border-bottom: solid 3px $brown-color-light;
        padding-left: 7px;

	}
}

.wp-caption {
	max-width: 100%;
}

.wp-caption-text {
	color: $grey-color;
    font-style: normal;
    font-size: $small-font-size;
    margin-top: 7px;
    a {
        color: $grey-color;
    }
    text-align: center;
}

.post-info,
.postmetadata {
	font-size: $small-font-size;
	color: $grey-color;
	font-family: $sub-font-family;
}

.navigation {
	display: block;
	text-align: center;
	font-size: $small-font-size;
	margin-top: $spacing-unit/2;
}
.next-posts,
.prev-posts {
	display: inline-block;
	padding: 0 30px;
}

/**
 * Sidebar
 */

.side {
	font-size: .9rem;
	.widget-title {
		color: darken($grey-color-text, 60%);
		font-family: $sub-font-family;


	}
	ul, .tagcloud {
		opacity: .8;
		margin-left: $spacing-unit-side/3;
	}
	li {
		margin-bottom: 4px;
	}
}

.tagcloud {
	margin-bottom: $spacing-unit/2;
}

/**
 * Comments
 */
.comment-head {
	padding-top: $spacing-unit/2;
	font-weight: normal;
	font-size: 1.25rem;
}

.commentlist {
	font-size: $small-font-size;
	p {
		padding: 5px;
	}
}

.respond-wrapper {
	padding-top: $spacing-unit/2;
	h2 {
		font-weight: normal;
		font-size: 1.25rem;

	}
	p {
		font-size: $small-font-size;
	}
}

.reply-elem {
	padding: 2px 0;
	label {
		padding-bottom: 3px;

	}
}

/**
 * Footer
 */

#footer {
	width: 100%;
	display: block;
	text-align: center;
	color: $grey-color;
	padding: $spacing-unit/2 0 $spacing-unit 0;
}

/**
 * 404
 */

.notfound {
	.form-input {
		width: 200px;
		height: 40px;
	}
	.form-submit {
		width: 40px;
		height: 40px;
	}
}

/**
 * Post
 */

 .post-comment {
 	p {
 		padding-top: $spacing-unit/2;
 	}
 }

.post-info {
	margin-left: 0;
	margin-bottom: $spacing-unit / 2;
	li {
		list-style-type: none;
	}
}


/**
 * Media query
 */

@include media-query($on-tablet) {
	.content-wrapper {
		flex-flow: column nowrap;
	}
	main, .side {
		width: 100%;
	}
	.side ul,
	.side ol,
	.side .tagcloud {
		margin-left: 0;
	}
	.widget-title {
		border-bottom: 3px solid $grey-color-light;
	}
}

@include media-query($on-mobile) {
}

// fixing admin bar not to overwrap main element
@media screen and (max-width: 600px) {
    #wpadminbar {
		position: fixed !important;
	}
}
